
.App {
  text-align: center;
}
.question-card {
  margin: 0 auto;
  width: 80%;
  background-color: rgba(0, 255, 255, 0.774);
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 5.5) 0px 18px 36px -18px;
}
ul {
  list-style: none;
  box-shadow: black 10%;
  margin-right: 15px;
}
li {
  margin-top: 8px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: bolder;
  padding: 16px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2.5px 2.5px grey;
}
ul :hover{
  background-color: rgb(255, 81, 81);
  transform: scale(1.02);
  box-shadow: 20px 20px 50px 10px pink inset;
  color: rgb(255, 255, 255);
}
.question-text {
  color: darkgoldenrod;
  font-size: 24px;
}
.flex{
  display: flex;
  margin-bottom: 30px;
  justify-content: space-evenly;
}
.toggle-button{
  margin-left: 400px;
  background-color: black;
  width: 100px;
  height: 40px;
  padding: 0px;
  border-radius: 10px;
  margin-top: 20px;
}
.header{
  margin-left: 700px;
}
.final-results {
  margin: 0 auto;
  width: 50%; 
  margin-top: 64px;
  background-color: rgb(164, 157, 157);
  padding: 16px;
  border-radius: 10px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
button {
  background-color: rgb(0, 0, 0); 
  border: none;
  color: rgb(255, 255, 255);
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 3px;
}
marquee{
  color: blue;
  font-size: larger;
  font-weight: bold;
  font-family: sans-serif;
}
@media only screen and (max-width: 1000px) {
  h2{
    font-size: 25px;
  }
  .toggle-button{
    margin-left: 20px;
  }
}
